@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700&display=swap');

*{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

header{
    background-color: #1b1a1a;
    position: fixed;
    z-index: 100000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    font-size: 1.8em ;
    font-weight: 700;
    color: #0000F4;
    text-transform: uppercase;

}
.navigation a{
    color: #0000F4;
    text-decoration: none;
    padding-left: 30px;
    font-size: 1.1em;
    font-weight: 500;

}
.navigation a:hover{
    color: #601cfc;
}

section{
    padding: 100px 200px;
}
.mine{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
        background: url("img/hero-bg.jpg")no-repeat;
        background-size: cover;
    background-attachment: fixed;
}
.mine h2{
    color: white;
    font-size: 1.4em;
        font-weight: 500;


}
.mine h2 span{
    display: inline-block;
    margin-top: 10px;
        color: #0000F4;
    font-size: 3em;
    font-weight: 600;
}
.mine h3{
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px 0px 30px 0px;
    

}

.mine-btn{
    padding: 0.9375em 2.1875em;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 600;
    color: white;
    border-radius: 15px;
    margin-bottom: 40px;
    text-decoration: none;
    background-color: #0000F4;
    letter-spacing: 1px;
    transition: all 0.7s ease;
}
.mine-btn:hover{
background-color: #1d0278;
transform: scale(1.1);
}
.social-icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color: #0000F4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    width: 21.25em;
    background-color: #ffffff;
    box-shadow: 0 5px 25px rgba(1,1,1,15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;

}
.card:hover{
    transform: scale(1.1);
}
.icon{
    font-size: 8em;
    text-align: center;
    color: #0000F4;
}
.info{
    text-align: center;
}
.info h3{
    color: #0000F4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.projects{
    background-color: #000016;
}
.projects .content{
    margin-top: 30px;
}

.project-cards{
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 23em;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    transition: 0.7s ease;

}
.project-cards:hover{
    transform: scale(1.1);
}
.project-cards:hover .project-image{
    opacity: 0.9;
}


.project-image img{
    width: 100%;
}
.project-info{
    padding: 1em;
}
.project-category{
    font-size: 0.8em;
    color: black;
}



.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 600;
}

.more-details{
    text-decoration: none;
    font-size: 1em;
    color: #0000F4;


}
.more-details:hover{
    color: #1d0278;
}

.contact .icon{
    font-size: 4.5em;
    
} 
.contact h3{
    color: black;
}
.contact p{
    font-size: 1.5em;
}

footer{
    padding:2em;
    background-color: #000016;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;
    color: white;
}

.footer span{
    color: #0000F4;
}
.footer .social-icons a{
    font-size: 1.3em;
    padding-right: 12px;

}


@media (max-width:1023px) {
    header{
        padding: 10px 15px;
    }
    
    .navigation a{
        padding-left: 10px;

    }
    .title{
        margin-top: 20px;
        font-size: 1.8em;
        
    }
    section{
        padding: 88px 20px;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 20em;

    }
    .project-cards{
        width: 20em;
    }
    .contact .card{
        width: 20em;
    }
    .footer{
        font-size: 0.8em;
    }

}


@media (max-width:641px) {
    body{
        font-size: 12px;
    }
}

@media (max-width:300px) {
    body{
        font-size: 10px;
    }
}
